* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 auto;
    font-family: 'Star Wars',sans-serif;
    background-color: #000;
}


/* main styling */
.sw-logo {
    height: 100px;
    margin: 40px;
}

h1 {
    text-align: center;
    padding-top: 50px;
    color: #FFE81F;
}

h2 {
    text-align: center;
        color: #FFE81F;
}


h3{
    text-align: center;
    font-size: 40px;
    margin: 10px;
        color: #FFE81F;
}

h4 {
    font-size: 30px;
    margin: 10px;
    color: #FFE81F;
}


p {
    font-size: 20px;
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    text-align: center;
}

span {
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
}

/* welcome screen styling */
#top-part-welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-bottom: 5px solid #FFE81F;
}

#character-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

#republic {
    display: flex;
    flex-direction: column;
margin: 50px;
}

#republic img {
    height: 275px;
    width: 200px;
    border: 5px solid #FFE81F;
    border-radius: 50px;
    padding: 20px;
    margin: 30px 0 0 0;
    cursor: grab;
}

#rebelion {
    display: flex;
        flex-direction: column;
margin: 50px;
}

#rebelion img { 
    height: 275px;
    width: 200px;
        border: 5px solid #FFE81F;
        border-radius: 50px;
        padding: 20px;
        margin: 30px 0 0 0;
        cursor: grab;
}

#deco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* in game styling */
#top-part-ingame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    border-bottom: 5px solid #FFE81F;
}

#controls-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
} 

#controls-wrapper button{
    box-shadow: 0 0 100px 0 #FFE81F;
    background-color: #000;
    color: #FFE81F;
    font-family: 'Star Wars',sans-serif;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 150px;
    width: 150px;
    align-items: center;
    font-size: 15px;
    line-height: 30px;
    cursor: grab;
}

#controls-wrapper p {
    box-shadow: 0 0 100px 0 #FFE81F;
    background-color: #000;
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    border-radius: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    font-size: 15px;
    line-height: 30px;
}

#controls-wrapper p {
    box-shadow: 0 0 100px 0 #FFE81F;
    background-color: #000;

    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 150px;
    width: 150px;
    align-items: center;
    margin: 0 50px 50px 50px;
}

#main-part{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-image: url("../images/IDIm.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0
}
 
.grid {
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 0 100px 0 #FFE81F;
    border: 5px solid ;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    height: 800px;
    width: 800px;
    padding: 20px;
    background-color: #000;
}

.grid div {
    border-radius: 50px;
    flex-grow: 1;
    height: 10%;
    width: 10%;

}

#game-page button {
    box-shadow: 0 0 100px 0 #FFE81F;
    background-color: #000;
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    border-radius: 50px;
    justify-content: center;
    padding: 50px;
    height: 150px;
    width: 150px;
    align-items: center;
    font-size: 15px;
    line-height: 30px;
    cursor: grab;
}

.grid div.luke {
    background-image: url('../images/luke_ship.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.grid div.luke-enemy {
    background-image: url('../images/luke_ship.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: grab;    transform: rotate(180deg);
         
}

.grid div.falcon {
    background-image: url("../images/falcon.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.grid div.falcon-enemy {
    background-image: url("../images/falcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.grid div.bomber-enemy {
    background-image: url('../images/bomber.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.grid div.deathstar-enemy {
    background-image: url('../images/death_star.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid div.star-destroyer {
    background-image: url("../images/star-destroyer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid div.star-destroyer-enemy {
    background-image: url("../images/star-destroyer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
        transform: rotate(180deg);
}

.grid div.vader {
    background-image: url('../images/vader.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid div.ren {
    background-image: url('../images/ren.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid div.ghost {
    background-image: url('../images/ghost.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
}
.grid div.boom {
    background-image: url('../images/boom.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid div.laser-red {
    background-image: url('../images/laser-red.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid div.laser-blue {
    background-image: url('../images/laser-blue.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#mute {
    background-image: url('../images/mute.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 50px;
    }


#unmute {
    background-image: url('../images/unmute.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 50px;
    }


/* game over styling */
#top-part-game-over {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-bottom: 5px solid #FFE81F;
}


#final-highscore {
    text-align: center;
    margin: 100px;
    padding-bottom: 100px;
}

#final-highscore p{
    color: #fff;

}

#final-highscore span {
    color: #fff;

}


#win  {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#win img{
    border: 0px;
    height: 600px;
    align-items: center;    
}

#loss img {
    border: 0px;
    height: 600px;
    align-items: center;
}

#loss {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#reset-button button {
    border: 5px solid #FFE81F;
    background-color: #000;
    color: #FFE81F;
    font-family: 'Star Wars', sans-serif;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 150px;
    width: 350px;
    align-items: center;
    font-size: 15px;
    line-height: 30px;
    margin: auto;
}

#reset-button  {
     margin: 100px 0 0 0;
}

.hidden {
    display: none;
}
